/*Resetar CSS do meu projeto*/
:root {
    --largura-imagem: 150px;
    --cor-borda: black;
    --cor-sombra: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background: #fff;
    margin: 0;
}

nav {
    display: flex;
    background-color: darkgoldenrod;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: 10px;
}

img {
    width: var(--largura-imagem);
    height: auto;
    border: 1px solid var(--cor-borda);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
}

p {
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: var(--largura-imagem);
    height: auto;
    border: 1px solid var(--cor-borda);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
    float: right;
}

aside {
    width: 20rem;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 120px;
}

footer {
    margin-top: 30px;
    border-top: 1px solid var(--cor-borda);
    text-align: center;
}

/*Seletores de Classe*/

.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
}

.indentacao {
    padding-left: 2rem;
}

header,
footer {
    max-width: 840px;
    margin: auto;
}

.grid {
    display: grid;
    align-items: center;
}