:root {
    --largura-imagem: 150px;
    --cor-borda: black;
    --cor-sombra: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background: #fff;
    margin: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: var(--largura-imagem);
    height: auto;
    border: 1px solid var(--cor-borda);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: var(--largura-imagem);
    height: auto;
    border: 1px solid var(--cor-borda);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 1px solid var(--cor-borda);
    text-align: center;
}